/* GLOBAL */
body {
  display: block;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

p {
  font-family: 'lato', sans-serif;
  font-size: 16px;
  letter-spacing: .02rem;
  line-height: 1.3rem;
}

.spacedSub{
  font-family: lato, sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2px;
}

/* END */

ul li{
  font-family: 'lato', sans-serif;
  font-size: 16px;
  letter-spacing: .02rem;
}

header {
  display: flex;
  background-color: #436e6e;
  min-height: 5vh;
  margin: 0;
  align-items: center;
  border-bottom: 5px solid #325454;
  padding-top: 15px;
  padding-bottom: 15px;
  justify-content: space-between;
}

.mainPadding {
  padding-left: 70px;
  padding-right: 70px;
}

footer {
  background-color: #325454;
  color: white;
  text-align: center;
  padding-top: 2%;
  margin: 0;
  padding-bottom: 1%;
  border-top: #d0b974 solid 5px;
}

.bottomFooters a:hover {
  color: #d0b974;
}

footer a {
  color: white;
  text-decoration: none;
}

footer section {
  text-align: center;
}

.footerContact {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding-top: 1%;
  padding: 1%;
  font-size: 1.2rem;
}

.footerContact a {
  color: white;
}

.footerContact a:hover {
  color: #d0b974;
}

#underLogo {
  width: 30%;
  color: #325454;
}

.info img {
  padding-bottom: 1%;
}

/* NAVIGATION */

nav {
  max-width: 760px;
  font-family: lato, sans-serif;
}

nav button {
  margin: 0.2rem 2vw;
  background: transparent;
  border: none;
  font-size: 2rem;
  color: white;
}

nav ul li a {
  display: block;
  padding: 0.8rem 2vw;
  text-decoration: none;
  color: white;
  z-index: 1;
}

nav ul {
  display: none;
}
nav ul.open {
  display: block;
  z-index: 4;
}

.responsive {
  position: absolute;
  right: 0px;
  height: 92vh;
  top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.responsive a {
  background-color: #325454;
}

.responsive a:hover {
  background-color: #d0b974;
}

#hamburgerBtn span:nth-child(1) {
  display: block;
}
#hamburgerBtn span:nth-child(2) {
  display: none;
}

#hamburgerBtn.open span:nth-child(1) {
  display: none;
}
#hamburgerBtn.open span:nth-child(2) {
  display: block;
}

/* HOME PAGE */

.hero {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: 14rem;
  padding-bottom: 15rem;
  background-image: url("../images/slctemple7.jpg");
  background-position: center;
  background-size: cover;
  margin: 0;
  background-attachment: fixed;
}

.proposition {
  display: flex;
  flex-direction: column;
  max-width: 35rem;
  max-height: 35rem;
  background-color: #436e6e;
  padding: 15px 25px 50px 20px;
  color: white;
  border-radius: 15px;
}

.headerh1 {
  font-size: 3rem;
  padding-bottom: 0%;
  margin-bottom: -5px;
  color: white;
}

.proposition button {
  border: none;
  color: white;
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 1rem;
  background-color: #d0b974;
  text-align: center;
  max-width: 45%;
}

.proposition button:hover {
  background-color: #5f9494;
}

/* SECOND SECTION */

.secondSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  text-align: center;
  align-items: center;
  margin-top: -70px;
  z-index: 1;
  background-color: white;
  border-radius: 20px;
  gap: 2em;
  box-shadow: 5px 2px 5px 3px rgba(0, 0, 0, 0.3);
}

.ctaBtnContainer{
  display: flex;
  flex-direction: row;
  gap: 2em;
  margin-top: -2rem;
}

.cta p:nth-child(1) {
  color: #436e6e;
  font-size: 1.2rem;
  padding-right: 2.rem;
}
.ctaBtn {
  color: white;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 1rem;
  background-color: #436e6e;
  text-align: center;
  
  }

.ctaBtn:hover {
  background-color: #d0b974;
  cursor: pointer;
}

/* Feature, second section on the home page */
.feature{
  margin-top: 5rem;
  margin-bottom: 14rem;
  display: flex;
  flex-direction: column;
  height: 30rem;
  gap: 2px;
}

.feature1{
  padding-top: 50%;
  color: white;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hotel-room-1000.jpg") no-repeat center;
  transition: background 0.10s ease;
  }

.feature1:hover{
  background: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/hotel-room-1000.jpg") no-repeat center;
  }

.feature2{
  transition: all 0.5s ease;
  padding-top: 50%;
  
  color: white;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/family-breakfast-500.png") no-repeat center;
  transition: background 0.10s ease; 
  }

.feature1 h3{
  padding-left: 4%;
  font-size: 2rem;
  transform: scale(1); 
  transition: all 0.5s ease;
  cursor: pointer;
}

.feature1 h3:hover{
  transform: scale(1.05);
  transition-duration: 0.4s;
  cursor: pointer;
}

a.servLink{
  color: white;
  text-decoration: none;
}

.feature2 h3{
  padding-left: 4%;
  font-size: 2rem;
  transform: scale(1); 
  transition: all 0.5s ease;
}

.feature2 h3:hover{
  transform: scale(1.05);
  transition-duration: 0.4s;
}

.feature2:hover{
  background: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/family-breakfast-500.png") no-repeat center;
  }

/* SUMMARY SECTION */
.summarySection {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  margin-bottom: 3rem;
}

.sumTxt h2{
  font-size: 2.2rem;
  color: #436e6e;
}

.wed1Txt h2{
  font-size: 2.2rem;
  color: #436e6e;
}

.weddingGallery{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 1.5rem;
}

/* Home Page Weather Section */
.weatherContainer{
  display: flex;
  flex-direction: column;
  background-color: #436e6e;
  margin: 0;
  padding-top: 10%;
  padding-bottom: 10%;
  color: white;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.weatherOne{
  background-color: #5f9494;
  border-radius: 10px;
  padding: 10px;
}

.weather{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.weatherSecond {
  display: flex;
  flex-direction: row;
 
 border-radius: 10px;
 padding: 10px;
 min-width: 8rem;
 min-height: 10rem;
 gap: 2rem;
 background-color: #5f9494;
}

/* Temple Page */

.tempHero {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url("../images/provo-temple-1920.jpg") no-repeat top center;
  background-position: bottom center;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 3%;
  }

.templePage {
  display: block;
  margin-bottom: 3%;
  }

  .cards {
    display: grid;
    gap: 20px;
  }

.templePage h2 {
  color: #436e6e;
  font-size: 2rem;
}

.cards section {
  background-color: #f2f3f579;
  padding: 25px;
}

.likeBtn{
  border: 1px solid #436e6e;
  border-radius: 10px;
  padding: 5px 15px;
  margin: 0;
  background-color: transparent;
}

.likeBtn:hover{
  background-color: #436e6e;
  color: white;
}

.likeBtn.liked{
  background-color: #d0b974;
  color: white;
  
}

.likeBtn.liked:hover{
  background-color: #d0b974;
 }

.templePage img {
  max-width: 100%;
  max-height: 20rem;
  border-bottom: solid 10px #d0b974;
 justify-content: center;
 }

 .templeTitle{
   font-weight: 700;
   font-size: 1.2rem;
   color: #5f9494;
 }

/* RESERVATION PAGE */

.resHero {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url("../images/hotel-hall.jpg") no-repeat top center;
  background-position: bottom center;
  background-size: cover;
  background-attachment: fixed;
}

.resSecond {
  padding-top: 2%;
}

.resSecond h2 {
  color: #436e6e;
  font-size: 1.7rem;
}

.colorSpan {
  color: #d0b974;
}

.submitBtn {
  color: white;
  font-size: 1rem;
  padding: 10px 20px 10px 20px;
  border: none;
  border-radius: 1rem;
  background-color: #436e6e;
  margin-top: 1rem;
  max-width: 8rem;
}

.submitBtn:hover {
  background-color: #d0b974;
  cursor: pointer;
}

.topFieldset {
  display: flex;
  flex-direction: column;
  background-color: #325454;
  color: white;
  border-radius: 10px 10px 0 0;
  padding-bottom: 2%;
  margin-top: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.topFieldset label{
  color: white;
  }

.formHeader {
  padding-left: 4%;
  }

.tripInfoFields {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: left;
  padding-left: 4%;
  padding-bottom: 7%;
  padding-top: -2%;
  margin-bottom: 0;
}

.personalInfoFields{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: left;
  padding-left: 4%;
  padding-bottom: 1%;
  padding-top: -2%;
  margin-bottom: 0;
  color: white;
}

.sa {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: left;
  padding-left: 4%;
  padding-bottom: 1%;
  padding-top: 15px;
  margin-bottom: 0;
  color: white;
}

.reqP {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.lengthRoomField {
  max-width: 3rem;
}

.lengthDateField{
  max-width: 10rem;
}

.labelSpace{
  margin-left: 8px;
  border: none;
  font-family: lato, sans-serif;
}

.bottomFieldset{
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  background-color: #5f9494;
  color: white;
  border-radius: 0 0 10px 10px;
  padding-bottom: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.Fieldset label{
  color: white;
  }

  .messageBox {
    max-width: 15rem;
  }

/* Services Page*/
.servHero{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url("../images/banquet-table-restaurant.jpg") no-repeat top center;
  background-position: bottom center;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 3%;
}

 .serviceSection{
   margin: 2rem 0;
 }


.servMid {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("../images/home-away-from-home.jpg") no-repeat top center;
  background-position: bottom center;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 3%;
  border-top: 15px solid #436e6e;
  border-bottom: 15px solid #436e6e;
}

.servMid p{
  color: white;
}

/* RECEPTION */
.wedMid  {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("../images/cropped-bride-and-groom-background.jpg") no-repeat top center;
  background-position: bottom center;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 3%;
  border-top: 15px solid #436e6e;
  border-bottom: 15px solid #436e6e;
}

.wedMid  p{
  color: white;
}

.servH2 {
  font-family: lato, sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 3px;
  color: white;
}

.leftTxt h2{
  font-size: 2.2rem;
  color: #436e6e;
  }

  /* RECEPTION PAGE */
.recepHero{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url("../images/wedding-background1.jpg") no-repeat top center;
  background-position: bottom center;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 3%;
}

.wedLeftTxt  h2{
  font-size: 2.2rem;
  color: #436e6e;
  }

/* MISSIONARY HOUSING */

.houseHero{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url("../images/kitchen-housing-background.jpg") no-repeat top center;
  background-position: bottom center;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 3%;
}

/* HOUSING */
.firstRow{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 1.5rem;
  margin-top: 2rem;
}

.misH1{
  font-size: 2.2rem;
    color: #436e6e;
}

.misNum{
  text-decoration: none;
  color: #d0b974;
  font-weight: 700;
}

.formHeader p{
  margin-top: -4%;
}


.firstRow img{
  min-width: 30%;
}

/* CONFIRMATION PAGE */
.confirmPage{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url("../images/abstract-blur.jpg") no-repeat center center;
  background-position: bottom center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}
 