/* Media Query for large+ views */
@media only screen and (min-width: 64rem) {

 /* CTA */
 .cta{
    padding-left: 8rem;
    padding-right: 8rem;
 }

  /* SUMMARY SECTION */
  .summarySection {
   margin-top: 8rem;
   margin-bottom: 8rem;
   display: flex;
   flex-direction: row;
   height: 30rem;
 }

 .sumImg{
   right: 50%;
   position: absolute;
   width: 50%;
   padding-top: 25%;
   background-image: url("../images/temple-background.png");
   background-position: center top;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   height: 30%;
 }

 .sumTxt{
    padding-left: 53%;
   }

 /* Temple Page */
 .cards {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 20px;
 }

 /* Services Page */
.ammenitiesImg {
  right: 50%;
  position: absolute;
  width: 50%;
  padding-top: 25%;
  padding-bottom: 25%;
  color: white;
  background-image: url("../images/kitchen-background.png");
}

.servicesImg {
  left: 50%;
  position: absolute;
  width: 50%;
  padding-top: 25%;
  padding-bottom: 25%;
  color: white;
  background-image: url("../images/daycare-background.png");
  background-repeat: no-repeat;
  background-position: right;
}

.leftTxt{
  padding-right: 53%;
}


}