/* Media Query for large+ views */
@media only screen and (min-width: 64rem) {

  .mainPadding {
    padding-left: 70px;
    padding-right: 70px;
  }

  /* NAV MENU */
  nav ul li a {
    border: none;
    z-index: 1;
  }

  /* Menu */

  nav button {
    display: none;
  }

  #primaryNav {
    display: flex;
    position: relative;
  
  }

   nav ul li.active a{
    color: #D0B974;
  }

  #primaryNav li {
    display: block;
    flex: 1 1 auto;
  }

  #primaryNav a {
    text-align: right;
    border: none;
    
  }

  .navClass {
    display: flex;
    list-style-type: none;
}

.navItem {
    margin: 0 15px;
}

.navLink {
    display: flex;
    font-weight: 500;
    font-size: 1.3rem;
    color: white;
    position: relative;
    padding: 5px 0;
    overflow: hidden;
    text-decoration: none;
    transition: .3s;
}

.navLink:before{
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
    width: 50%;
    height: 2px;
    background: #D0B974;
    transition: .5s cubic-bezier(0.075, 0.82, 0.165,1);
}

.navLink:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 100%;
    width: 50%;
    height: 2px;
    background: #D0B974;
    transition: .5s cubic-bezier(0.075, 0.82, 0.165,1);
}

.navLink:hover{
    color: #D0B974;
}

.navLink:hover:before {
    right: 0;
}

.navLink:hover:after {
    left: 0;
}


 /* CTA */
 .cta{
    padding-left: 8rem;
    padding-right: 8rem;
    margin-top: -50px;
 }

  /* SUMMARY SECTION */
  .summarySection {
   margin-top: 8rem;
   margin-bottom: 8rem;
   display: flex;
   flex-direction: row;
   height: 30rem;
 }

 .sumImg{
   right: 50%;
   position: absolute;
   width: 50%;
   padding-top: 25%;
   background-image: url("../images/temple-background.png");
   background-position: center top;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   height: 30%;
 }

 .sumTxt{
    padding-left: 53%;
   }

   /*reception*/
   .wed1Txt{
    padding-left: 53%;
   }

   .feature{
    margin-bottom: 8rem;
   }

   .feature1 h3{
    font-size: 2rem;
  }
  
  .feature2 h3{
    font-size: 2rem;
  }

   /* WEATHER */
  .weatherContainer{
    display: flex;
    flex-direction: row;
    background-color: #436e6e;
    margin: 0;
    padding-top: 3%;
    padding-bottom: 3%;
    color: white;
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }

  .socialIcons{
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    padding-left: 55px;
    margin-left: 20px;
  }

 /* Temple Page */
 .cards {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 20px;
 }

 /* Services Page */
.ammenitiesImg {
  right: 50%;
  position: absolute;
  width: 50%;
  padding-top: 25%;
  padding-bottom: 25%;
  color: white;
  background-image: url("../images/indoor-pool-background.png");
}

/* RECEPTION */
.wedAmmenImg {
  right: 50%;
  position: absolute;
  width: 50%;
  padding-top: 25%;
  padding-bottom: 25%;
  color: white;
  background-image: url("../images/side-table.png");
}


.servMid p{
  max-width: 50%;
}

/*Reception*/
.wedMid p{
  max-width: 50%;
}

.servicesImg {
  left: 50%;
  position: absolute;
  width: 50%;
  padding-top: 25%;
  padding-bottom: 25%;
  color: white;
  background-image: url("../images/daycare-background.png");
  background-repeat: no-repeat;
  background-position: right;
}

/*Reception*/
.rightWedImg  {
  left: 50%;
  position: absolute;
  width: 50%;
  padding-top: 25%;
  padding-bottom: 25%;
  color: white;
  background-image: url("../images/side-catering1.png");
  background-repeat: no-repeat;
  background-position: right;
}

.leftTxt{
  padding-right: 53%;
}

/*reception*/
.wedLeftTxt {
  padding-right: 53%;
}

/* RESERVATION */
.theForm {
  padding-left: 70px;
  padding-right: 70px;
}

.tripInfoFields {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  padding-bottom: 1%;
}

.bottomFieldset{
  background-color: #5f9494;
  color: white;
  border-radius: 0 0 10px 10px;
  padding-bottom: 2%;
}

.personalInfoFields{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding-left: 4%;
  padding-bottom: 1%;
  }

  .feature1{
    padding-top: 25%;
   
   }
  
  .feature2{
   
    padding-top: 25%;
   
  }

  .serviceSection {
    margin-top: 8rem;
    margin-bottom: 8rem;
    display: flex;
    flex-direction: row;
    height: 30rem;
  }

}