/* Media Query for large+ views */
@media only screen and (min-width: 64rem) {

  .mainPadding {
    padding-left: 70px;
    padding-right: 70px;
  }


 /* CTA */
 .cta{
    padding-left: 8rem;
    padding-right: 8rem;
    margin-top: -50px;
 }

  /* SUMMARY SECTION */
  .summarySection {
   margin-top: 8rem;
   margin-bottom: 8rem;
   display: flex;
   flex-direction: row;
   height: 30rem;
 }

 .sumImg{
   right: 50%;
   position: absolute;
   width: 50%;
   padding-top: 25%;
   background-image: url("../images/temple-background.png");
   background-position: center top;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   height: 30%;
 }

 .sumTxt{
    padding-left: 53%;
   }

   .feature{
    margin-bottom: 8rem;
   }

   /* WEATHER */
  .weatherContainer{
    display: flex;
    flex-direction: row;
    background-color: #436e6e;
    margin: 0;
    padding-top: 3%;
    padding-bottom: 3%;
    color: white;
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }

 /* Temple Page */
 .cards {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 20px;
 }

 /* Services Page */
.ammenitiesImg {
  right: 50%;
  position: absolute;
  width: 50%;
  padding-top: 25%;
  padding-bottom: 25%;
  color: white;
  background-image: url("../images/indoor-pool-background.png");
}

.servMid p{
  max-width: 50%;
}

.servicesImg {
  left: 50%;
  position: absolute;
  width: 50%;
  padding-top: 25%;
  padding-bottom: 25%;
  color: white;
  background-image: url("../images/daycare-background.png");
  background-repeat: no-repeat;
  background-position: right;
}

.leftTxt{
  padding-right: 53%;
}

/* RESERVATION */
/*.innerColor{
  display: flex;
  flex-direction: row;
  gap: 4rem;
  background-color: #5f9494;
  padding: 10px 30px;
  border-radius: 10px;
  margin: -2%;
}*/
.theForm {
  padding-left: 70px;
  padding-right: 70px;
}

.tripInfoFields {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  padding-bottom: 1%;
}

.bottomFieldset{
  background-color: #5f9494;
  color: white;
  border-radius: 0 0 10px 10px;
  padding-bottom: 2%;
}

.personalInfoFields{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: left;
  padding-left: 4%;
  padding-bottom: 1%;
  }

}