/* Media Query for medium+ views */
@media only screen and (min-width: 35rem) {

  .mainPadding {
    padding-left: 80px;
    padding-right: 80px;
  }


nav ul li a {
    border: none;
    z-index: 1;
  }

  /* Menu */

  nav button {
    display: none;
  }

  #primaryNav {
    display: flex;
    position: relative;
  
  }

   nav ul li.active a{
    color: #D0B974;
  }

  #primaryNav li {
    display: block;
    flex: 1 1 auto;
  }

  #primaryNav a {
    text-align: right;
    border: none;
    
  }

  .navClass {
    display: flex;
    align-items: right;
    list-style-type: none;
}

.navItem {
    margin: 0 15px;
}

.navLink {
    display: flex;
    font-weight: 500;
    font-size: 1.3rem;
    color: white;
    position: relative;
    padding: 5px 0;
    overflow: hidden;
    text-decoration: none;
    transition: .3s;
}

.navLink:before{
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
    width: 50%;
    height: 2px;
    background: #D0B974;
    transition: .5s cubic-bezier(0.075, 0.82, 0.165,1);
}

.navLink:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 100%;
    width: 50%;
    height: 2px;
    background: #D0B974;
    transition: .5s cubic-bezier(0.075, 0.82, 0.165,1);
}

.navLink:hover{
    color: #D0B974;
}

.navLink:hover:before {
    right: 0;
}

.navLink:hover:after {
    left: 0;
}

.proposition button{
  max-width: 25%;
}


/* CALL TO ACTION */

.cta{
  display: flex;
  flex-direction: row;
  padding-left: 6rem;
  padding-right: 6rem;
  font-size: 1.5rem;
  margin-top: -60px;
  }

  .ctaBtnContainer{
    margin: 0;
   gap: 20px;
  }

   .cta p:nth-child(1) {
    font-size: 1.5rem;
  }

/* Feature, second section on the home page */
.feature{
  margin-top: 8rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  height: 30rem;
}

.feature1{
  left: 50%;
  position: absolute;
  width: 50%;
  padding-top: 25%;
 }

.feature2{
  width: 50%;
  position: absolute;
  width: 50%;
  padding-top: 25%;
  border-right: 2px solid white;
}

  /* RESERVATION */
  .tripInfoFields {
    padding-bottom: 4%;
  }
  
  .resSecond h2 {
    font-size: 2rem;
  }

  .messageBox {
    max-width: 20rem;
  }

  .servMid p{
    max-width: 70%;
  }

}