/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/

/* Media Query for medium+ views */
@media only screen and (min-width: 35rem) {
	nav ul#primaryNav {
		display: flex;
		justify-content: flex-end;
		}

	nav button {
		display: none;
	}

	nav ul li a {
		border: none;
	}

	.logo {
		width: 100px;
		height: auto;
	  }

     main {
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding: 20px;
	  } 

	.hero {
		grid-columns: 1/2;
	}

}