
#home-content {
  max-width: auto;
}

header {
  display: flex;
  background-color: #486C42;
  padding: 5px 0;
  justify-content: space-between;
  align-items: center;
  }

header img {
  width: 150px;
  height: auto;
  padding: 10px;
  padding-left: 20%;
}

date
 {
	margin: 0.5rem;
	padding: 0.75rem;
  color: white;
	
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav button {
  margin: .2rem 2vw;
  background: transparent;
  border: none;
  font-size: 2rem;
  color: white;
  align-content: right;
}

nav ul li a {
  display: block;
  padding: .8rem 2vw;
  text-decoration: none;
  color: white;
  border-top: 1px solid rgba(0,0,0,0.3);
}

nav ul li a:hover {
  background-color: rgba(0,0,0,0.2);
}

nav ul li.active a {
  background-color: rgba(0,0,0,0.10);
}

nav ul {display: none;}
nav ul.open {display: block;}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}





footer.footersection {
  background-color: #2E4536;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 25px;
    align-items: center;
    color: white;
    text-align: center; 
  }

