header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  background-color: #486C42;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid;
  border-color: #6C915C;
    }

#hamburgerBtn span:nth-child(1) {
  display: block;
}   

date {
  grid-column: 1/5;
  text-align: center;
  background-color: #6C925C;
  }

.logo {
  width: 80px;
  height: auto;
}

.headings {
  color: white;
}

.social img{
  width: 30px;
  height: auto;
  grid-column: 4/5;
  padding: 0.3em;
}

.primaryNav {
 
  left: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav button {
  margin: .2rem 2vw;
  background: transparent;
  border: none;
  font-size: 2rem;
  color: white;
  align-content: right;
}

nav ul li a {
  display: block;
  padding: .8rem 2vw;
  text-decoration: none;
  color: white;
  border-top: 1px solid rgba(0,0,0,0.3);
  
}

nav ul li a:hover {
  background-color: rgba(0,0,0,0.2);
}

nav ul li.active a {
  background-color: rgba(0,0,0,0.10);
}

nav ul {display: none;}
nav ul.open {display: block;}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

date
 {
	margin: 0.5rem;
	padding: 0.75rem;
  color: white;
	}

body {
  display: block;
  }  

  main {
    display: block;
  }

main section {
	margin: 0.5rem;
	padding: 1rem 1rem;
	background-color: #eee;
  text-align: center;
  padding-bottom: 20px;
}


footer.footersection {
  background-color: #2E4536;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 25px;
    align-items: center;
    color: white;
    text-align: center; 
  }

