:root {
	--back: #628CA6;
    --zebra: #E7FFED; 
}

thead,
tfoot {
    background-color: #628CA6;
    color: #fff;
    font-size: 1rem;
}

tbody {
    background-color: #e4f0f5;
}

caption {
    padding: 10px;
    caption-side: bottom;
    background-color: #7FB9C2;
    font-size: .75rem;
    font-weight: normal;
    letter-spacing: 0;
    border-bottom: 1px solid rgb(200, 200, 200);
    border-left: 1px solid rgb(200, 200, 200);
    border-right: 1px solid rgb(200, 200, 200);
    }

table {
    border-collapse: collapse;
    border: 1px solid rgb(200, 200, 200);
    font-family: ubuntu, sans-serif;
    font-size: .8rem;
    font-weight: 400;
    filter: drop-shadow(0.40rem 0.40rem 0.3rem rgba(18, 83, 126, 0.5));
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 5px 10px;
    font-weight: 400;
    }

td {
    text-align: center;
}

.highlight{
    background-color: #628CA6;
    color: white;
}

tbody tr:nth-child(even) {
	background-color: var(--zebra);
}

.bf{
    font-style: italic;
}

.topTitle{
    color: black;
    background-color: #7FB9C2;
    font-size: 1.5rem;
    font-weight: 700;
}






